@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
body {
    font-family: "Courier Prime", monospace;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f4f4f4;
    color: black;
    overflow: hidden;
}

header {
    width: 100%;
    text-align: center;
    padding: 5px;
    border: dashed;
}

a {
    text-decoration: none;
    margin: 5px;
    color: black;
}

a:hover {
    text-decoration: underline;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    scroll-snap-align: end;
    padding: 20px;
    min-height: 100%;
}

.sections-wrapper {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

img {
    max-width: 80%;
    border-radius: 50%;
    border: solid 1px black;
    height: auto;
    object-fit: cover;
}


h2 {
    font-size: 5vw;
    margin-bottom: 4vh;
}

.info {
    overflow-y: scroll;
}

progress {
    width: 200px;
    height: 15px;
    border: solid 1px black;
    color: black;
    background-color: #f4f4f4;
}


details {
    display: flex;
    border: dashed;
    padding: 5px;
    margin: 2px;
}

details:hover {
    border: solid;
}

#social-links {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.col-md-6 {
    max-height: 90vh;
}
@media (max-width: 768px) {
    img {
        width: 50%;
    }
    .col-md-6 {
        max-height: 40vh;
    }
}

.button {
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    animation: sway 2s infinite alternate;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 500px;
    transition: transform 0.5s, box-shadow 0.5s;
  }
  
  .button:hover {
    transform: scale(1.5) rotate(-360deg) translateY(-1em);
    box-shadow: 0 0 20px 0 rgba(29, 161, 242, 0.5);
  }
  
  .icon {
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.6));
    transition: transform 0.5s;
  }
  
  .icon:hover {
    transform: scale(8);
    filter: drop-shadow(1px 2px 4px rgba(0,0,0,0.9))
  }
