@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
body {
    font-family: "Courier Prime", monospace;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f4f4f4;
    color: black;
    overflow: hidden;
}

header {
    width: 100%;
    text-align: center;
    padding: 5px;
    border: dashed;
}

a {
    text-decoration: none;
    margin: 5px;
    color: black;
}

a:hover {
    text-decoration: underline;
}

section {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    scroll-snap-align: start;
    padding: 20px;
}

.sections-wrapper {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    border-radius: 50%;
    border: solid 1px black;
    height: auto;
}


h2 {
    font-size: 5vw;
    margin-bottom: 4vh;
}

.info {
    display: flex;
}

progress {
    width: 200px;
    height: 15px;
    border: solid 1px black;
    color: black;
    background-color: #f4f4f4;
}


details {
    display: flex;
    border: dashed;
    padding: 5px;
    margin: 2px;
}

details:hover {
    border: solid;
}

@media (max-width: 767px) {
    img {
        width: 50%;
    }
}